.appview-container {
  background: linear-gradient(to right, #bcd1fb, #716bc6); 
  color: #001f3f !important;
}

.my-element {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

.stButton>button {
    background-color: #80a7f4; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}

.stButton>button:hover {
  background-color: #668ee8;
}

.stButton>button:hover span { 
  color: black !important; 
}



body {
    font-family: 'Comic Relief', cursive !important; /* Apply to the whole body */
}

h1 {
    font-family: 'Comic Relief', cursive !important;
}

h3 {
    font-family: 'Comic Relief', cursive !important;
}

p {
    font-family: 'Tahoma', sans-serif !important;
}

.comic-text {
    font-family: 'Comic Relief', cursive !important;
}
